html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Montserrat', sans-serif;
  	font-size: 1vmin;
  	font-size: 1vmax;
}


html, body {
	height: 100%;
	background: #111;
}

/*			HEADER/NAV			*/
header {
	position: fixed;
	width: 100%;
	height: 80;
	line-height: 80px;
	z-index: 5;
	background-color: rgba(17, 17, 17, 0);
	transition: all .4s ease-in-out;
}

.header-fade {
	background-color: rgba(17, 17, 17, 1);
}

.logo, nav, .search-container {
	float: left;
	height: 100%;
}

.logo {
    font-family: 'Alegreya Sans SC', sans-serif;
	width: 14%;
	text-align: center;
	color: #f00;
	font-size: 2em;
	font-weight: bold;
}

nav {
	width: 56%;
}

nav ul li {
	cursor: pointer;
	transition: all .17s ease-in-out;
	color: white;
	list-style-type: none;
	float: left;
	width: 25%;
	text-align: center;
	font-size: 
}

nav ul li:hover {
	background-color: rgba(0, 0, 0, .6);
}

.search-container {
	position: relative;
	top: 15px;
	width: 25%;
	padding-left: 5%;
}

.search-button {
	cursor: pointer;
	color: white;
	display: inline;
}


.submit-button {
	transition: all .2s ease-in-out;
	float: left;
	width: 50px;
	height: 50px;
	
}

.submit-button:hover .submit .glass {
	border: solid 5px #00aeff;
}

.submit-button:hover .submit .glass-handle {
	background: #00aeff;
}


.submit-button:hover .submit {
	transform: scale(1.2);
}

.submit {
	transition: all .1s ease-in-out;
	position: relative;
	top: 8px;
	left: 8px;
	height: 35px;
	width: 35px;
}

.glass {
	transition: all .2s ease-in-out;
	position: relative;
	border-radius: 50px/50px;
	border: solid 5px white;
	width: 18px;
	height: 18px;   
}

.glass-handle {
	transition: all .2s ease-in-out;
	content: '';
	position: absolute;
	width: 5px;
	height: 15px;
	background: white;
	right: -7px;
	bottom: -12px;
	transform: rotate(-45deg);
}

.input {
	transition: all .2s ease-in-out;
	background-color: rgba(150, 150, 150, .2);
	padding: 14px;
	font-size: 18px;
	border: none;
	color: white;
	float: left;
	width: 50%;
}

input:focus {
    background-color: rgba(200, 200, 200, .2);
    width: 65%;

}

/*			Container			*/
.container {
	clear: both;
	position: relative;
	height: 100%;
	width: 100%;

}

.container-active {
	overflow: auto;
	height: calc(100% - 80px);
	top: 80px;
}

.container-active-search {
	height: calc(100% - 80px);
	top: 80px;
}

/*			 Main.html			*/
/*		section		*/
.container .main-section{
	height: 84%;
	background: black;
}

.section1, 
.section2, 
.section3 {
	float: left;
	width: 100%;
}

.section1 {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.movie-feature-container {
	position: relative;
	height: 100%; 
	overflow: hidden;

}

.movie-feature {
 	position: absolute;
	top: -18%;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 136%;
	width: 100%;
}

.section2{
	
}

.section3 {
	
}

/*		main		*/
main {
	background: #111;
	clear: both;
}

.main-all {
	position: relative;
	overflow: hidden;
}


/*		main-trailer		*/
.main-trailer-container {
	display: none;
	transition: all .17s linear;
	position: relative;
	padding: 32% 0 0;
	width: 100%;
	background: #333;
	clear: both;
	background-size: 100% 145%;
	background-position: 100%;
	opacity: 0;
}

.show-details-active {
	opacity: 1;
	display: block;
}

.exit {
	cursor: pointer;
	position: absolute;
	top: 3%;
	right: 1%;
	font-size: 2em;
	z-index: 3;
	background-image: url(icon/exit.png);
	height: 30px;
	width: 30px;
	background-size: 100%;
}

.side-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 30%;
	background: black;
}

.side-overlay:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: -200px;
	background: linear-gradient(90deg, black, transparent);
	height: 100%;
	width: 200px;
	z-index: 2;
}

.side-overlay2 {
	background-size: 100% 110%;
	background-position: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 70%;
}

.trailer-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	display: none;
}

.trailer-header {
	color: white;
	position: relative;
	height: 20%;
	width: 100%;
	box-sizing: border-box;
	padding: 3% 0;
}

.trailer-header .title {
	font-size: 2.3em;
	font-weight: bolder;
}

.trailer-header .tagline {
	font-size: 1.3em;
}

.trailer-body {
	height: 80%;
	width: 100%;
	box-sizing: border-box;
	padding: 3% 0;
}

.trailer-overview {
	position: absolute;
	top: 9em;
}

.rating-year {
	margin-bottom: 1em;
}

.release-date, .released, .language {
	color: white;
}

.synopsis {
	width: 42%;
	color: white;
}

.play-trailer {
	cursor: pointer;
	color: white;
	display: inline-block;
	position: relative;
	background: #d81616;
	padding: .6em 1.2em .8em 1.2em;
	margin: 1em 0;
}

.play-trailer:hover {
	background: #fb1c1c;
}

.play-icon {
	position: relative;
	margin-right: .5em;
}

.play-icon img {
	vertical-align: middle;
	max-width: 20px;
}

.play {
	font-weight: bold;
	vertical-align: middle;
}

.genre-production {
	color: white;
}

.trailer-video {
	white-space: nowrap;
}

.trailer-video .more-videos {
	padding: 15% 0 0;
	background-size: 180% 180%;
	background-position: 50% 50%;
	display: inline-block;
	width: 16.6%;
	position: relative;
	top: 2em;
}



.main-trailer-detail-width {
	position: absolute;
	top: 0;
	left: 5%;
	bottom: 0;
	right: 0;
	width: 90%;
	height: 100%;
	z-index: 3;
}

.menu {
	transform: translate(-50%, 0);
	position: absolute;
	left: 50%;
	right: 0;
	bottom: 0;
	color: white;
}

.menu-underline {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 33.333%;
	background: red;
}

.menu {
	    z-index: 2;
}

.menu li {
	cursor: pointer;
	list-style: none;
	float: left;
	padding: 2% 10%;
	width: 13.33333%;
	text-align: center;
	font-weight: bold;
	z-index: 2;
}

.menu li:hover {
	background: #333;
}

.show-details {
	cursor: pointer;
	transition: all .2s linear;
	transform: translate(-50%, 0);
	position: absolute;
	bottom: 10%;
	left: 50%;
	z-index: 2;
	opacity: 0;
	padding: 1.2em;
}


.movie-box:hover .show-details {
	bottom: 7%;
	z-index: 2;
	opacity: 1;
}

.show-details img {
	width: 100px;
}

.main-width {
	position: relative;
	clear: both;
	width: 90%;
	margin: 0 auto;
}

.main-all .max-width {
	position: relative;
	width: 100%;
	height: 140px;
	margin: 0 auto;
}

.slider-main {
	position: relative;
}

.main-all .movie-box, .category-main .movie-box  {
	transition: all .2s linear;
	display: inline-block;
	width: 20%;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	padding: 30% 0 0;
	position: relative;
}

.movie-box:hover .play-circle {
	opacity: 1;
	
}

.movie-box-active {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
}

.play-circle {
	transition: all .4s ease-in-out;
	transform: translate(-50%, -50%);
    background-color: rgba(254, 52, 52, .7);
    border: 3px solid white;    
    height: 100px;
 	width: 100px;
    border-radius: 50%;
    -moz-border-radius :50%;
    -webkit-border-radius: 50%;
   	position: absolute;
   	top: 50%;
   	left: 50%;
   	opacity: 0;
   	cursor: pointer;
}

.play-circle:hover {
	transition: all .2s ease-in-out;
	background-color: rgba(2, 166, 255, 0.7);
}

.play-circle img {
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 52%;
}

.section1 .movie-box, .section2 .movie-box,.section3 .movie-box {
	background-size: 100% 100%;
	padding: 45% 0 0;
}

.movie-box2 {
	background-size: 100% 100%;
}

.main-all .main-title {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50%;
	font-size: 1.6em;
	color: white;
	margin-bottom: .5em;
	font-weight: bold;
}

.main-all .show-more {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50%;
	text-align: right;
	font-size: 1.6em;
	color: white;
	margin-bottom: .5em;
}

.main-1, .main-2, .main-3, .main-4 {
	
} 

.slider-container {
	font-size: 0;
	white-space: nowrap;
	position: relative;
	left: 0;
}

.left-all, .right-all {
	transition: all .3s ease-in-out;
	height: 100%;
	position: absolute;
	width: 6%;
	cursor: pointer;
}

.left-all img, .right-all img {
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	height: auto;
	width: 100%;
	max-width: 60px;
}

.left-all:hover, .right-all:hover {
	background-color: rgba(0, 0, 0, .5);	
}


.left-all {
	z-index: 2;
	transform: translate(0, -50%);
	top: 50%;
	left: -6%;
}

.right-all {
	z-index: 2;
	transform: translate(0, -50%);
	top: 50%;
	right: -6%;
}


/*			current-trailer			*/

/*		main		*/
.movie-main {
	height: 100%;
	width: 70%;
	float: left;
	overflow: hidden;
}

.back {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	color: white;

}

.iframe-container {
	position: relative;
	height: 100%; 
	overflow: hidden;
}

.movie-iframe {
 	position: absolute;    
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

/*		section		*/

.movie-section {
	width: 30%;
	height: 100%;
	float: left;
	overflow-y: scroll;
}

.recommended-box {
	background-size: 100% 100%;
	padding: 45% 0 0;
	float: left;
	width: 33.333%;
}




/*			search-result			*/
.result-main {
	height: 100%;
	position: relative;
	overflow: auto;
	padding: 0 4%;
}

.result-box {
	transition: .4s ease-in-out;
	float: left;
	width: 19.2%;
	background-size: 100% 100%;
	padding: 24% 0 0;
	margin: 0 1% 1% 0;
	background-position: 50%;
}

.result-box:hover {
	background-size: 120% 120%;
}

.result-box:nth-child(5n+0) {
   	margin: 0 0% 1% 0;
}

.result-container {
	clear: both;
}

.page-number-container {
	width: 500px;
	background: #456;
	margin: 0 auto;
}

.page-number {
	color: white;
	float: left;
	display: inline;
	background: #444;
	padding: 10px;

}

.page-number:hover {
	cursor: pointer;
	background: #222;
}

.first-prev, .last-next {
	float: left;
	width: 85px;
	color: white;
}


.first-page, .prev-page, .last-page, .next-page {
	float: left;
}



/*				Category			*/
